/******** COLORS ********/
:root {
  --whiteColor: #fff;
  --blackColor: #000;
  --grayColor: #eceaeab7;
  --gray: #dfdfdfee;
  --goldenColor: #e6e5e0;
  --gold: #dbbb5f;
  --blueColor: #205f9b;
  --orange: #ea6524;
}

/******** POLICES ********/
/******** HEADER ********/
header {
  width: 100%;
  position: fixed;
  z-index: 5;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 100px;
  justify-content: space-between;
  background-color: var(--grayColor);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
}

header img {
  width: 6rem;
}

header nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
  -webkit-column-gap: 25px;
}

header nav ul li a {
  color: var(--blueColor);
}

header nav ul a:hover {
  transition: 0.8s;
  transition-delay: 0.2s;
  color: var(--orange);
}

header nav ul a i {
  padding: 10px 11px;
  border-radius: 100%;
  color: var(--whiteColor);
  background-color: var(--orange);
}

header nav ul li .home {
  border-bottom: 2px solid var(--orange);
}

/******** PADDING FOR ALL THE WEBSITE ********/
.all-section {
  padding: 10px 100px;
}

main .home-page {
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
main .home-page h3 {
  font-size: 30px;
}
main .home-page h2 {
  font-size: 35px;
  color: var(--blueColor);
}
main .home-page .vetement {
  display: flex;
  flex-direction: column;
  text-align: center;
}
main .home-page .vetement .first-image {
  width: 60%;
  margin-top: 120px;
  animation-delay: 0.8s;
  animation: animated 5s linear infinite;
}
@keyframes animated {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(50px);
  }
}
main .home-page .vetement .second-image {
  width: 70%;
  margin-top: -120px;
  filter: blur(8px);
}

/********* ABOUT US DIV *********/
.about-us {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  text-align: center;
  justify-content: center;
  margin: auto;
  gap: 80px;
  -webkit-column-gap: 80px;
  padding: 20px;
  background-color: var(--gray);
}

/********* FEATURED PRODUCTS *********/
.featured-product {
  padding-top: 30px;
  padding-bottom: 30px;
}
.featured-product .all-div {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
}
.featured-product .prod-container {
  text-align: center;
}
.featured-product .prod-container h2 {
  margin-bottom: 10px;
  color: var(--blueColor);
}
.featured-product .prod-container span {
  opacity: 0.4;
}
.featured-product .product {
  width: fit-content;
  margin-top: 15px;
  border-radius: 10px;
  padding: 20px;
  border: 1px solid var(--gray);
}
.featured-product .product:hover {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}
.featured-product .product .prod-content .prod-image {
  width: 280px;
  margin: auto;
  border-radius: 10px;
  background-color: var(--gray);
}
.featured-product .product .prod-content .prod {
  margin-top: 10px;
}
.featured-product .product .prod-content .prod span {
  opacity: 0.4;
}
.featured-product .product .prod-content .prod h5 {
  color: var(--blueColor);
}

/********* NEW ARRIVALS *********/
.arrivals {
  text-align: center;
  background-size: cover;
  padding: 50px;
  color: var(--whiteColor);
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../images/products/bg.jpg");
}
.arrivals h1 {
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.arrivals h1 span {
  color: var(--gold);
}

/********* RESET *********/
*,
::before,
::after {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}

/********* BODY SECTION *********/
body {
  width: 100%;
  font-family: "Lora", serif;
  background-color: var(--grayColor);
}

/********* HOME PAGE BUTTON *********/
.home-page button {
  margin-top: 30px;
  font-weight: 700;
  cursor: pointer;
  padding: 12px 30px;
  width: fit-content;
  font-family: "Lora", serif;
  color: var(--blueColor);
  outline: none;
  border-radius: 10px;
  background: none;
  border: 2px solid var(--blueColor);
}
.home-page button:hover {
  transition: 0.8s;
  transition-delay: 0.2s;
  color: var(--whiteColor);
  background-color: var(--blueColor);
}

/********* ABOUT US ICON *********/
.about-us div i {
  font-size: 25px;
  padding: 20px 20px;
  border-radius: 100%;
  color: var(--blueColor);
  margin-bottom: 30px;
  border: 3px solid var(--blueColor);
}
.about-us div i:hover {
  transition: 0.5s;
  transition-delay: 0.2s;
  color: var(--whiteColor);
  background-color: var(--blueColor);
}

/********* FEATURED PRODUCTS *********/
.prod-icons i {
  color: var(--gold);
  font-size: 14px;
}

.prod a {
  display: flex;
  justify-content: flex-end;
  margin-top: -30px;
}
.prod a i {
  padding: 10px 11px;
  border-radius: 50%;
  color: var(--whiteColor);
  background-color: var(--blueColor);
}

/********* NEW ARRIVALS *********/
.arrivals button {
  border: none;
  outline: none;
  background: none;
  font-family: "Lora", serif;
  color: var(--gold);
  padding: 15px 25px;
  border-radius: 10px;
  font-weight: 700;
  cursor: pointer;
  border: 2px solid var(--gold);
}
.arrivals button:hover {
  transition: 0.5;
  transition-delay: 0.2s;
  color: var(--whiteColor);
  background-color: var(--gold);
  border: 2px solid var(--whiteColor);
}/*# sourceMappingURL=index.css.map */