/******** COLORS ********/
:root {
  --whiteColor: #fff;
  --blackColor: #000;
  --grayColor: #eceaeab7;
  --gray: #dfdfdfee;
  --goldenColor: #e6e5e0;
  --gold: #dbbb5f;
  --blueColor: #205f9b;
  --orange: #ea6524;
}

/******** POLICES ********/
/******** HEADER ********/
header {
  width: 100%;
  position: fixed;
  z-index: 5;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 100px;
  justify-content: space-between;
  background-color: var(--grayColor);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
}

header img {
  width: 6rem;
}

header nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
  -webkit-column-gap: 25px;
}

header nav ul li a {
  color: var(--blueColor);
}

header nav ul a:hover {
  transition: 0.8s;
  transition-delay: 0.2s;
  color: var(--orange);
}

header nav ul a i {
  padding: 10px 11px;
  border-radius: 100%;
  color: var(--whiteColor);
  background-color: var(--orange);
}

header nav ul li .home {
  border-bottom: 2px solid var(--orange);
}

/******** PADDING FOR ALL THE WEBSITE ********/
.all-section {
  padding: 10px 100px;
}

main .home-page {
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
main .home-page h3 {
  font-size: 30px;
}
main .home-page h2 {
  font-size: 35px;
  color: var(--blueColor);
}
main .home-page .vetement {
  display: flex;
  flex-direction: column;
  text-align: center;
}
main .home-page .vetement .first-image {
  width: 60%;
  margin-top: 120px;
  animation-delay: 0.8s;
  animation: animated 5s linear infinite;
}
@keyframes animated {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(50px);
  }
}
main .home-page .vetement .second-image {
  width: 70%;
  margin-top: -120px;
  filter: blur(8px);
}

/********* ABOUT US DIV *********/
.about-us {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  text-align: center;
  justify-content: center;
  margin: auto;
  gap: 80px;
  -webkit-column-gap: 80px;
  padding: 20px;
  background-color: var(--gray);
}

/********* RESET *********/
*,
::before,
::after {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}

/********* BODY SECTION *********/
body {
  width: 100%;
  font-family: "Lora", serif;
  background-color: var(--grayColor);
}

/********* HOME PAGE BUTTON *********/
.home-page button {
  margin-top: 30px;
  font-weight: 700;
  cursor: pointer;
  padding: 12px 30px;
  width: fit-content;
  font-family: "Lora", serif;
  color: var(--blueColor);
  outline: none;
  border-radius: 10px;
  background: none;
  border: 2px solid var(--blueColor);
}
.home-page button:hover {
  transition: 0.8s;
  transition-delay: 0.2s;
  color: var(--whiteColor);
  background-color: var(--blueColor);
}

/********* ABOUT US ICON *********/
.about-us div i {
  font-size: 25px;
  padding: 20px 20px;
  border-radius: 100%;
  color: var(--whiteColor);
  background-color: var(--blueColor);
  border: 2px solid var(--whiteColor);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
}/*# sourceMappingURL=index.css.map */