        @use '../utils/' as u;
        /******** HEADER ********/
        
        header {
            width: 100%;
            position: fixed;
            z-index: 5;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 10px 100px;
            justify-content: space-between;
            background-color: var(--grayColor);
            box-shadow: 0px 5px 15px #00000017;
        }
        
        header img {
            width: 6rem;
        }
        
        header nav {
            display: flex;
            gap: 25px;
            -webkit-column-gap: 25px;
        }
        
        header nav ul {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 25px;
            -webkit-column-gap: 25px;
        }
        
        header nav ul li a {
            color: var(--blueColor);
        }
        
        header nav .menu-icon {
            display: flex;
            align-items: center;
            gap: 10px;
            -webkit-column-gap: 10px;
        }
        
        header nav .menu-icon .menu {
            display: none;
            color: var(--whiteColor);
            padding: 10px 11px;
            border-radius: 50%;
            cursor: pointer;
            background-color: var(--gold);
            &:hover {
                background-color: var(--blueColor);
                transition: 0.8s;
                transition-delay: 0.2s;
            }
        }
        
        header nav a:hover {
            transition: 0.8s;
            transition-delay: 0.2s;
            color: var(--gold);
        }
        
        header nav a i {
            padding: 10px 11px;
            border-radius: 100%;
            color: var(--whiteColor);
            background-color: var(--gold);
            &:hover {
                background-color: var(--blueColor);
                transition: 0.8s;
                transition-delay: 0.2s;
            }
        }
        
        header nav ul li .home {
            border-bottom: 2px solid var(--gold);
        }
        /******** FOOTER ********/
        
        footer {
            img {
                width: 6rem;
            }
            .footer-container {
                display: grid;
                grid-template-columns: auto auto auto auto;
                justify-content: space-between;
                h4 {
                    margin-bottom: 10px;
                }
                a {
                    color: var(--blackColor);
                }
                span {
                    font-weight: 700;
                }
                .app {
                    div {
                        padding: 10px;
                        border-radius: 5px;
                        margin-top: 10px;
                        font-weight: 700;
                        border: 2px solid var(--blueColor);
                        transition: 0.5s;
                        transition-delay: 0.2s;
                        a {
                            display: flex;
                            gap: 5px;
                            align-items: center;
                            justify-content: center;
                            color: var(--blueColor);
                            -webkit-column-gap: 5px;
                        }
                        &:hover {
                            background-color: var(--blueColor);
                            i,
                            p {
                                color: var(--whiteColor);
                                transition: 0.5s;
                                transition-delay: 0.2s;
                            }
                        }
                    }
                }
            }
            .media-sociaux {
                text-align: center;
                margin-top: 10px;
                div {
                    display: flex;
                    gap: 10px;
                    margin-top: 10px;
                    justify-content: center;
                    a {
                        font-size: 20px;
                        color: var(--blueColor);
                    }
                }
            }
            .about-me {
                text-align: center;
                margin-top: 10px;
                color: var(--blackColor);
                p {
                    margin-top: 5px;
                }
            }
        }