@use '../utils/' as u;

/******** PADDING FOR ALL THE WEBSITE ********/

.all-section {
    padding: 10px 100px;
}

main .home-page {
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    h3 {
        font-size: 30px;
    }
    h2 {
        font-size: 35px;
        color: var(--blueColor);
    }
    .vetement {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .vetement .first-image {
        width: 60%;
        margin-top: 120px;
    }
    .vetement .second-image {
        width: 70%;
        margin-top: -120px;
        filter: blur(8px);
    }
}