@use '../utils/' as u;

/******** PADDING FOR ALL THE WEBSITE ********/

.all-section {
    padding: 10px 100px;
}

main .home-page {
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    h3 {
        font-size: 25px;
    }
    h2 {
        font-size: 30px;
        color: var(--blueColor);
    }
}