@use '../utils/' as u;
@use '../utils/mixins' as *;

/******** PADDING FOR ALL THE WEBSITE ********/

.all-section {
    padding: 10px 100px;
}

main .home-page {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h3 {
        font-size: 25px;
    }
    h2 {
        font-size: 30px;
        color: var(--blueColor);
    }
    .vetement {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .vetement .first-image {
        width: 40%;
        margin-top: 120px;
        animation-delay: 0.8s;
        animation: animated 5s linear infinite;
        @keyframes animated {
            0% {
                transform: translateY(-10px);
            }
            50% {
                transform: translateY(20px);
            }
        }
    }
    .vetement .second-image {
        width: 50%;
        margin-top: -120px;
        filter: blur(8px);
    }
}


/********* ABOUT US DIV *********/

.about-us {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    text-align: center;
    justify-content: center;
    margin: auto;
    gap: 50px;
    -webkit-column-gap: 50px;
    padding: 15px;
    background-color: var(--gray);
}


/********* FEATURED PRODUCTS *********/

.featured-product {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    .all-div {
        display: grid;
        grid-template-columns: auto auto auto auto;
        gap: 10px;
    }
    .prod-container {
        text-align: center;
        h2 {
            margin-bottom: 10px;
            color: var(--blueColor);
        }
        span {
            opacity: 0.4;
        }
    }
    .product {
        width: fit-content;
        margin-top: 15px;
        border-radius: 10px;
        padding: 18px;
        border: 1px solid var(--gray);
        &:hover {
            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
        }
        .prod-content {
            .prod-image {
                width: 180px;
                margin: auto;
                border-radius: 10px;
                background-color: var(--gray);
            }
            .prod {
                margin-top: 10px;
                span {
                    opacity: 0.4;
                }
                h5 {
                    color: var(--blueColor);
                }
            }
        }
    }
}


/********* NEW ARRIVALS *********/

.arrivals {
    text-align: center;
    background-size: cover;
    padding: 50px;
    color: var(--whiteColor);
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../../images/products/bg.jpg');
    clip-path: polygon(0 0, 100% 25%, 100% 100%, 0 80%);
    h1 {
        font-size: 30px;
        margin-top: 10px;
        margin-bottom: 10px;
        span {
            color: var(--gold);
        }
    }
}


/********* BANNER PART *********/

.first-part-banner {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    -webkit-column-gap: 10px;
    .banner-1 {
        @include banner;
        background-image: url('../../images/banner/banner1.jpg');
    }
    .banner-2 {
        @include banner;
        background-image: url('../../images/banner/banner2.jpg');
    }
}

.second-part-banner {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    -webkit-column-gap: 10px;
    margin-top: 10px;
    .banner-box {
        padding: 80px;
        text-align: center;
        background-position: top;
        background-repeat: no-repeat;
        h4 {
            color: var(--blueColor);
        }
        p {
            color: var(--orange);
        }
    }
    .box1 {
        background-image: url(../../images/banner/product-sale1.jpg);
    }
    .box2 {
        background-image: url(../../images/banner/product-sale2.jpg);
    }
    .box3 {
        background-image: url(../../images/banner/product-sale3.jpg);
    }
}


/********* NEWS LETTER *********/

.news-letter {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 20px;
    color: var(--whiteColor);
    background: linear-gradient(to right, #dbbc5fe0 0%, #20609bd8 100%), url(../../images/banner/news-letter.jpg) no-repeat;
    background-size: cover;
    .news {
        display: flex;
        gap: 10px;
        -webkit-column-gap: 10px;
        margin-top: 15px;
        align-items: center;
        justify-content: space-between;
        span {
            color: var(--blueColor);
        }
        .news-content {
            width: fit-content;
            border-radius: 5px;
            background-color: var(--whiteColor);
            input {
                @include buttons;
                font-weight: 300;
            }
            button {
                @include buttons;
                color: var(--whiteColor);
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                background-color: var(--gold);
            }
        }
    }
}


/******** FOOTER ********/