@use '../utils/variables' as u;

/********* RESET *********/

*,
::before,
::after {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}


/********* BODY SECTION *********/

body {
    width: 100%;
    font-family: u.$font;
    background-color: var(--grayColor);
}


/********* HOME PAGE BUTTON *********/

.home-page button {
    border: none;
    margin-top: 10px;
    font-weight: 500;
    cursor: pointer;
    padding: 10px 20px;
    width: fit-content;
    font-family: u.$font;
    color: var(--whiteColor);
    /*background-repeat: no-repeat;
    background-position: center;
    background-image: url('../../images/home-page/button-bg.png');*/
}