@use '../utils/' as u;
@use '../utils/mixins' as *;

/********* RESET *********/

*,
::before,
::after {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}


/********* BODY SECTION *********/

body {
    width: 100%;
    font-family: u.$font;
    background-color: var(--grayColor);
}


/********* HOME PAGE BUTTON *********/

.home-page button {
    @include buttons;
    margin-top: 30px;
    padding: 12px 30px;
    width: fit-content;
    color: var(--blueColor);
    border-radius: 10px;
    border: 2px solid var(--blueColor);
    &:hover {
        transition: 0.8s;
        transition-delay: 0.2s;
        color: var(--whiteColor);
        background-color: var(--blueColor);
    }
}


/********* ABOUT US ICON *********/

.about-us div i {
    font-size: 25px;
    padding: 20px 20px;
    border-radius: 100%;
    color: var(--blueColor);
    margin-bottom: 30px;
    border: 3px solid var(--blueColor);
    &:hover {
        transition: 0.5s;
        transition-delay: 0.2s;
        color: var(--whiteColor);
        background-color: var(--blueColor);
    }
}


/********* FEATURED PRODUCTS *********/

.prod-icons {
    i {
        color: var(--gold);
        font-size: 14px;
    }
}

.prod {
    a {
        display: flex;
        justify-content: flex-end;
        margin-top: -30px;
        i {
            padding: 10px 11px;
            border-radius: 50%;
            color: var(--whiteColor);
            background-color: var(--blueColor);
        }
    }
}


/********* NEW ARRIVALS *********/

.arrivals {
    button {
        @include buttons;
        color: var(--gold);
        border-radius: 10px;
        border: 2px solid var(--gold);
        &:hover {
            transition: 0.5;
            transition-delay: 0.2s;
            color: var(--whiteColor);
            background-color: var(--gold);
        }
    }
}


/********* BANNER BUTTONS *********/

.banner-1 button {
    @include buttons;
    margin-top: 20px;
    border-radius: 0;
    color: var(--whiteColor);
    background-color: var(--blueColor);
    border: 2px solid var(--blueColor);
}

.banner-2 button {
    @include buttons;
    margin-top: 20px;
    border-radius: 0;
    color: var(--whiteColor);
    border: 2px solid var(--gold);
    background-color: var(--gold);
    &:hover {
        color: var(--gold);
        border: 2px solid var(--gold);
        background: none;
    }
}