@use '../utils/variables' as u;

/********* RESET *********/

*,
::before,
::after {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}


/********* BODY SECTION *********/

body {
    width: 100%;
    font-family: u.$font;
    background-color: var(--grayColor);
}