@use '../utils/' as u;
@media screen and (max-width: 1140px) {
    .all-section {
        padding: 10px 60px;
    }
    header {
        padding: 10px 60px;
    }
    .arrivals {
        padding: 60px;
    }
    .news-letter {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

@include u.breakpoint(laptop) {
    main .home-page {
        background: linear-gradient(to bottom, #dbbc5fa4 0%, #20609bb0 100%), url(../../images/home-page/image.png) no-repeat center;
        .vetement .first-image,
        .second-image {
            display: none;
        }
    }
    .featured-product {
        .all-div {
            display: grid;
            grid-template-columns: auto auto auto;
            justify-content: space-between;
        }
    }
    .second-part-banner {
        grid-template-columns: auto auto;
    }
    .news-letter {
        text-align: center;
        .news {
            display: flex;
            flex-direction: column;
        }
    }
    footer {
        .footer-container {
            grid-template-columns: auto auto auto;
        }
    }
}

@include u.breakpoint(tablet) {
    header nav ul {
        width: 60%;
        height: 50vh;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        right: 0;
        gap: 0;
        margin-right: -100%;
        transition: 0.8s;
        transition-delay: 0.2s;
        background-color: var(--grayColor);
        box-shadow: 0px 5px 15px #00000017;
        li {
            width: 100%;
            padding: 22px 40px;
        }
        .exit {
            display: initial;
            font-size: 2.2rem;
            margin-top: 35px;
            position: relative;
            right: -100px;
            color: var(--blueColor);
        }
    }
    header nav .active {
        margin-right: 0;
    }
    header nav .menu-icon .menu {
        display: initial;
    }
    .featured-product {
        .all-div {
            grid-template-columns: auto auto;
            justify-content: center;
        }
    }
    .arrivals {
        h1 {
            font-size: 20px;
        }
    }
    .first-part-banner {
        grid-template-columns: auto;
    }
    .second-part-banner {
        grid-template-columns: auto;
        .banner-box {
            background-size: cover;
        }
    }
    footer {
        .footer-container {
            grid-template-columns: auto auto;
            div {
                margin-top: 15px;
            }
        }
    }
    @media screen and (max-width: 540px) {
        header {
            padding: 10px 25px;
        }
        main .home-page {
            h3,
            p {
                color: var(--whiteColor);
            }
            button {
                color: var(--whiteColor);
                border: 2px solid var(--whiteColor);
                &:hover {
                    border: 2px solid var(--blueColor);
                }
            }
        }
        .all-section {
            padding: 10px 25_px;
        }
        .arrivals {
            padding: 80px;
        }
        .news-letter {
            padding-top: 70px;
            padding-bottom: 70px;
        }
        footer {
            .footer-container {
                grid-template-columns: auto;
                div {
                    margin-top: 15px;
                }
            }
            .media-sociaux {
                margin-top: 30px;
            }
        }
    }
}

@include u.breakpoint(mobile) {
    main .home-page {
        h3 {
            font-size: 20px;
        }
        h2 {
            font-size: 25px;
            color: var(--blueColor);
        }
    }
    .featured-product {
        .all-div {
            width: 100%;
            grid-template-columns: auto;
            gap: 1px;
        }
        .product {
            width: 100%;
        }
    }
    @media screen and (max-width: 460px) {
        .news-letter {
            .news {
                display: grid;
                .news-content {
                    background-color: unset;
                    input {
                        width: 100%;
                        border-radius: 5px;
                        background-color: var(--whiteColor);
                    }
                    button {
                        width: 100%;
                        margin-top: 10px;
                        border-top-left-radius: 5px;
                        border-bottom-left-radius: 5px;
                    }
                }
            }
        }
    }
}