@use '../../utils/' as u;
.blog {
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background: linear-gradient(to right, #f1f1f1b3 0%, #6e6e6d92 100%), url(../../../images/home-page/blog.jpg);
    background-size: cover;
    div {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        text-align: center;
        color: var(--whiteColor);
        background-color: var(--blackOpacity);
        h1 {
            font-size: 2.5rem;
        }
    }
}

.blog-items {
    display: flex;
    align-items: center;
    margin-top: 50px;
    gap: 60px;
    -webkit-column-gap: 60px;
    h4 {
        color: var(--blueColor);
    }
    p {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    a {
        width: fit-content;
        display: flex;
        margin-top: 20px;
        padding: 10px 20px;
        transition: 0.4s ease-in;
        color: var(--whiteColor);
        background: var(--blueColor);
        &:hover {
            background-color: var(--gold);
        }
    }
    h3 {
        position: absolute;
        top: 55%;
        left: 8%;
        z-index: -1;
        font-size: 2.3rem;
        color: #808080d2;
    }
}