@use '../../utils/' as u;
.blog {
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background: linear-gradient(to right, #f1f1f1b3 0%, #6e6e6d92 100%), url(../../../images/home-page/blog.jpg);
    background-size: cover;
    div {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        text-align: center;
        color: var(--whiteColor);
        background-color: var(--blackOpacity);
        h1 {
            font-size: 2.5rem;
        }
    }
}