@use '../../utils/' as u;
.my-page {
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../../../images/shop/shop-bg.jpg);
    div {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        text-align: center;
        color: var(--whiteColor);
        background-color: var(--blackOpacity);
        h1 {
            font-size: 2.5rem;
        }
    }
}

.pagination {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    gap: 10px;
    -webkit-column-gap: 10px;
}