@use '../../utils/' as u;
.my-page {
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../../../images/shop/shop-bg.jpg);
    div {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--blackOpacity);
    }
}