@use '../../utils/' as u;
.my-page {
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../../../images/shop/shop-bg.jpg);
    div {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        text-align: center;
        color: var(--whiteColor);
        background-color: var(--blackOpacity);
        h1 {
            font-size: 2.5rem;
        }
    }
}

.pagination {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    gap: 10px;
    -webkit-column-gap: 10px;
    a {
        padding: 10px 20px;
        color: var(--whiteColor);
        font-weight: 700;
        transition: 0.8s;
        transition-delay: 0.2s;
        border-radius: 4px;
        background-color: var(--blueColor);
        &:hover {
            background-color: var(--gold);
        }
    }
}

//For all the simple and small images
.main-prod {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: auto auto;
}

.main-product {
    width: 75%;
    .main-image {
        width: 100%;
        background-color: var(--gray);
    }
    .pro-images {
        display: grid;
        gap: 5px;
        -webkit-column-gap: 5px;
        grid-template-columns: auto auto auto auto;
        .small-image {
            width: 100%;
            background-color: var(--gray);
        }
    }
}

.prod-details {
    h4 {
        margin-top: 15px;
        margin-bottom: 15px;
        color: var(--blueColor);
    }
    select {
        border: none;
        outline: none;
        margin-top: 20px;
        padding: 10px 10px;
        background: var(--gray);
        font-family: u.$font;
    }
    div {
        margin-top: 20px;
        display: flex;
        gap: 5px;
        -webkit-column-gap: 5px;
        input {
            width: 8%;
            border: none;
            outline: none;
            background: unset;
            padding: 8px 8px;
            font-family: u.$font;
            border: 2px solid var(--gray);
        }
        button {
            border: none;
            outline: none;
            padding: 8px 8px;
            font-family: u.$font;
            color: var(--whiteColor);
            background-color: var(--blueColor);
            border: 2px solid var(--blueColor);
        }
    }
}