/******** COLORS ********/

:root {
    --whiteColor: #fff;
    --blackColor: #000;
    --grayColor: #eceaeab7;
    --gray: #dfdfdfee;
    --goldenColor: #e6e5e0;
    --gold: #dbbb5f;
    --blueColor: #205f9b;
    --orange: #ea6524;
}


/******** POLICES ********/

$font: "Lora",
serif;