/******** COLORS ********/

:root {
    --whiteColor: #fff;
    --blackColor: #000;
    --grayColor: #f7f3f3fa;
    --gray: #dfdfdfee;
    --goldenColor: #fafaf9;
    --gold: #dbbb5f;
    --blueColor: #205f9b;
    --orange: #ea6524;
    --blackOpacity: rgba(0, 0, 0, 0.17);
}


/******** POLICES ********/

$font: "Lora",
serif;