/******** COLORS ********/

:root {
    --whiteColor: #fff;
    --blackColor: #000;
    --grayColor: #d4d1d7;
    --greenColor: #245741;
    /*--greenColor: #26a69a;*/
    --goldenColor: #e6e5e0;
    --gold: #dbbb5f;
}


/******** POLICES ********/

$font: "Lora",
serif;